%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{sub_dirs, ["rel", "apps"]}.

{require_otp_vsn, "R15"}.
{cover_enabled, true}.

{lib_dirs, []}.

{erl_opts, [debug_info, fail_on_warning]}.
{eunit_opts, [verbose]}.

{erlydtl_opts, [
                {compiler_options, [report, return, debug_info]}
               ]}.

{deps, [
       ]}.

% {plugins, [rebar_lock_deps_plugin]}.
